// Contact
section#contact.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Contact
            h3.section-subheading.text-muted Please say hi!

        form#contactForm
            input(type='hidden', name='access_key', value='eaaef5e1-5abe-46fb-a619-4ed1cbda82d7')
            input(type='checkbox', name='botcheck', style='display:none')
            input(type='hidden', name='subject', value='New contact from peterszocs.com')
            input(type='hidden', name='from_name', value='peterszocs.com')

            .row.align-items-stretch.mb-5
                .form-group
                    // Name input
                    input#name.form-control(
                        type='text',
                        name='name',
                        placeholder='Your Name *',
                        required
                    )
                    .invalid-feedback
                        | A name is required.

                .form-group
                    // Email address input
                    input#email.form-control(
                        type='email',
                        name='email',
                        placeholder='Your Email *',
                        required
                    )
                    .invalid-feedback#emailFeedback
                        | An email is required.

                .form-group.form-group-textarea.mb-md-0
                    // Message input
                    textarea#message.form-control(
                        name='message',
                        placeholder='Your Message *',
                        required
                    )
                    .invalid-feedback
                        | A message is required.

            // Submit Button
            .text-center
                button#submitButton.btn.btn-primary.btn-xl.text-uppercase(type='submit', disabled) Send Message
