// Music
section#music.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Music
            h3.section-subheading.text-muted Come taste the Caribbean.
        #youtube.row.text-center
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=tN0NP9O0ywk'
                        data-id='tN0NP9O0ywk'
                        aria-label='Play: Million by Kes'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Kes
                    p.text-muted.fst-italic Million
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=XTsx3aoq_yY'
                        data-id='XTsx3aoq_yY'
                        aria-label='Play: Who drinking rum by King Bubba'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 King Bubba
                    p.text-muted.fst-italic Who drinking rum
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=VM5T3JsGgQ0'
                        data-id='VM5T3JsGgQ0'
                        aria-label='Play: BTW by Skinny Fabulous'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Skinny Fabulous
                    p.text-muted.fst-italic BTW
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=ajnDDneepjI'
                        data-id='ajnDDneepjI'
                        aria-label='Play: Like Yuh Self by Patrice Roberts x Machel Montano'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Patrice Roberts x Machel Montano
                    p.text-muted.fst-italic Like Yuh Self
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=RV1riJsShjU'
                        data-id='RV1riJsShjU'
                        aria-label='Play: Sometime by Leadpipe x Jus-Jay'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Leadpipe x Jus-Jay
                    p.text-muted.fst-italic Sometime
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=rJwEphsNVH8'
                        data-id='rJwEphsNVH8'
                        aria-label='Play: Hit & Run by Shenseea'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Shenseea
                    p.text-muted.fst-italic Hit & Run
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=o7XwqWdLvlE'
                        data-id='o7XwqWdLvlE'
                        aria-label='Play: Wet by Vershon'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Vershon
                    p.text-muted.fst-italic Wet
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=_I-wmfUrRFA'
                        data-id='_I-wmfUrRFA'
                        aria-label='Play: Beautiful by Konshens'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Konshens
                    p.text-muted.fst-italic Beautiful
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=ceCGIk6tAxY'
                        data-id='ceCGIk6tAxY'
                        aria-label="Play: Chillin' Time by Navino"
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Navino
                    p.text-muted.fst-italic Chillin' Time
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=d9pKaHzwZs0'
                        data-id='d9pKaHzwZs0'
                        aria-label="Play: Can't Dweet Again by Christopher Martin"
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Christopher Martin
                    p.text-muted.fst-italic Can't Dweet Again
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=vl68eIaap0E'
                        data-id='vl68eIaap0E'
                        aria-label='Play: W by Koffee'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Koffee
                    p.text-muted.fst-italic W
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=M08zTfR4taQ'
                        data-id='M08zTfR4taQ'
                        aria-label='Play: Gal Policy by Kranium'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Kranium
                    p.text-muted.fst-italic Gal Policy
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=YwxAUSHC34o'
                        data-id='YwxAUSHC34o'
                        aria-label='Play: Try Dat by Vybz Kartel'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Vybz Kartel
                    p.text-muted.fst-italic Try Dat
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=FjMyPvlK6Zg'
                        data-id='FjMyPvlK6Zg'
                        aria-label='Play: Call Me If by Dexta Daps'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Dexta Daps
                    p.text-muted.fst-italic Call Me If
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=MjUIJwxiMJg'
                        data-id='MjUIJwxiMJg'
                        aria-label='Play: Fallin by Kes'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Kes
                    p.text-muted.fst-italic Fallin
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=rV6Fkvd7Tyw'
                        data-id='rV6Fkvd7Tyw'
                        aria-label='Play: 10x Over by Various'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Various
                    p.text-muted.fst-italic 10x Over
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=tBLH_KpQh94'
                        data-id='tBLH_KpQh94'
                        aria-label='Play: Drip Drip by Various'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Various
                    p.text-muted.fst-italic Drip Drip
            .col-md-4.col-sm-6.portfolio-item
                .ratio.ratio-16x9
                    a.lite-youtube(
                        href='https://www.youtube.com/watch?v=GsFodLrvqbk'
                        data-id='GsFodLrvqbk'
                        aria-label='Play: The Fete Life by Various'
                    )
                        button.lty-playbtn(type='button', aria-label='Play')
                .portfolio-caption
                    h4 Various
                    p.text-muted.fst-italic The Fete Life
